<div>

<h2>Detail de la pelicula</h2>
<p>{{detailMovie.title}}</p>
<p>{{detailMovie.genre}}</p>
<p>{{detailMovie.plot}}</p>

  {{#each detailMovie.cast}}
    <p>{{this.name}}</p>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
  {{/each}}

<form action="/movies/{{detailMovie._id}}/delete" method="post">
  <a href="/movies/{{detailMovie._id}}/delete"><button>Borrar</button></a> 
</form>

<form action="/movies/{{detailMovie._id}}/edit">
  <a href="/movies/{{detailMovie._id}}/edit"><button>Editar</button></a> 
</form>

</div>